<dd><%= current_user.email %></dd>
<div class="row">


	<div class="span5">
	<h1>Friends</h1>

  	  	<p>Name</p>
  	  >
  		<dd><% @friends.each do |f| %></dd>
	  	  
	  	  	<dd><a href="http://facebook.com/<%= f["id"] %>"><%= f["name"] %></a></dd>
	  	  
  	  <% end %>
  </div>
</div>
