<div id="user_nav">
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), id: "sign_in" %>
  <% end %>
</div>
<p>Friends</p>

<% if current_user %>
  Number of Friends: <%= current_user.friends_count %>
<% end %>

