<div id="facebook_app">
      <h2>Awesome People</h2>
  <div id="nav">
    <% if current_user %>
         Hello, <%= current_user.email %> 
       
    
        <%= link_to "Login With Facebook", "/auth/facebook", :class => "connect_with_facebook_button" %>
        <h3>Please, connect ONLY if you are Awesome.</h3>
    <% end %>
  </div>
