
<div class="container">
  <h1>FAQs</h1>
  <div class="row">
    <h7>Thanks for signing up, you should have received your confirmation email form SendGrid.</h7>
    <div class="span10 offset1">
      <strong><div><p>How will using improve my life?</p></div></strong>
      <div>
        Stolobu's functionality allows you to figure out the stranger you passed by.  Whether it be a professional athlete, moviestar, or attractive person, you have a good chance of learning who it is!
      </div><br><br>
      <strong><div><p>How does it work?</p></div></strong>
      <div>
        Pretty simple, you take a picture of someone, upload it, and wait for the community to get back to you with the name.
      </div><br><br>
      <strong><div><p>Who else can see their name?</p></div></strong>
      <div>
        Just you, only the person who uploads the picture will see the name of the person if answered. 
      </div><br><br>
      <strong><div><p>What if I know the person?</p></div></strong>
      <div>
        Great! Click on the picture and type in their name. 
      </div>
    </div>
  </div>
</br>
</br>
</br>
</div>

      
