<head>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
FB.init({
appId:'675585185824524',
cookie:true,
status:true,
xfbml:true
});

function FacebookInviteFriends()
{
FB.ui({
method: 'apprequests',
message: 'get your friends signed up'
});
}
</script>



<div id="fb-root"></div>
<a href='#' onclick="FacebookInviteFriends();"> 
Get your friends on board
</a>
<script type="text/javascript">
  <!--
    if (top.location!= self.location) {
      top.location = self.location.href
    }
  //-->
</script>


<% provide(:title, 'FAQs') %>

<div class="container main">
  <h1>FAQs</h1>
  <div class="row">
    <div class="span10 offset1">
      <div><p>How will using OnlineParkingPass improve my business?</p></div>
      <div>
        OnlineParkingPass’ program will make your drivers more efficient, productive and safe. The time it takes to accurately monitor a property is dramatically reduced, thus increasing the profitability of your company. OnlineParkingPass’ program enables you to add new accounts without adding additional personnel or trucks. Company owners can easily monitor the activity of their drives as well from their computer or smartphone.
      </div><br><br>
      <div><p>What is OnlineParkingPass’ customer support policy?</p></div>
      <div>
        OnlineParkingPass will respond to any customer inquiry within 24 hours.
      </div><br><br>
      <div><p>How does the OnlineParkingPass program work?</p></div>
      <div>
        OnlineParkingPass’s patented technology puts a revolutionary, patented technology in the hands of your drivers. Through the use of this technology  drivers can now quickly and accurately drive a property without leaving the truck.
      </div><br><br>
      <div><p>Can I see OnlineParkingPass’ program in action?</p></div>
      <div>
        Yes. Call us at 1-855-999-OLPP (6577) or send us an email to schedule a demonstration.
      </div><br><br>
      <div><p>How reliable is OnlineParkingPass’ technology?</p></div>
      <div>
        The OnlineParkingPass program has been in use in the field for quite some time now. The results have been excellent both in terms of customer acquisition and satisfaction.
      </div><br><br>
      <div><p>Are there other products on the market that are similar to OnlineParkingPass?</p></div>
      <div>
        No.  OnlineParkingPass’ program is patented.  There is no other program available that is comparable to our comprehensive program.
      </div><br><br>
      <div><p>How will my customers benefit from the OnlineParkingPass program?</p></div>
      <div>
        Your customers will benefit in several ways. Customers can quickly identify vehicles on their lots and get real time updates on the monitoring of their properties. The OLPP program also eliminates “mistaken” tows and “give backs”.
      </div><br><br><br><br><br><br>
    </div>
  </div>
</div>









<% if false %>
<div class="container main">
  <h1>FAQs</h1>
  <div class="row">
    <div class="span10 offset1">
      <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">How will using OnlineParkingPass improve my business?</a>
          </div>
          <div id="collapseOne" class="accordion-body collapse">
            <div class="accordion-inner">
              <p>OnlineParkingPass’ program will make your drivers more efficient, productive and safe. The time it takes to accurately monitor a property is dramatically reduced, thus increasing the profitability of your company. OnlineParkingPass’ program enables you to add new accounts without adding additional personnel or trucks. Company owners can easily monitor the activity of their drives as well from their computer or smartphone.</p>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">What is OnlineParkingPass’ customer support policy?</a>
          </div>
          <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner"> 
              <p>OnlineParkingPass will respond to any customer inquiry within 24 hours.</p>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">How does the OnlineParkingPass program work?</a>
          </div>
          <div id="collapseThree" class="accordion-body collapse">
            <div class="accordion-inner">
              <p>OnlineParkingPass’s patented technology puts a revolutionary, patented technology in the hands of your drivers. Through the use of this technology  drivers can now quickly and accurately drive a property without leaving the truck.</p>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour"> Can I see OnlineParkingPass’ program in action?</a>
          </div>
          <div id="collapseFour" class="accordion-body collapse">
            <div class="accordion-inner">
              <p>Yes. Call us at 301-685-6200 or send us an email to schedule a demonstration.</p>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive"> How reliable is OnlineParkingPass’ technology?</a>
          </div>
          <div id="collapseFive" class="accordion-body collapse">
            <div class="accordion-inner">
              <p>The OnlineParkingPass program has been in use in the field for quite some time now. The results have been excellent both in terms of customer acquisition and satisfaction.</p>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix"> Are there other products on the market that are similar to OnlineParkingPass?</a>
          </div>
          <div id="collapseSix" class="accordion-body collapse">
            <div class="accordion-inner">
              <p>No.  OnlineParkingPass’ program is patented.  There is no other program available that is comparable to our comprehensive program.</p>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven"> How will my customers benefit from the OnlineParkingPass program?</a>
          </div>
          <div id="collapseSeven" class="accordion-body collapse">
            <div class="accordion-inner">
              <p> Your customers will benefit in several ways. Customers can quickly identify vehicles on their lots and get real time updates on the monitoring of their properties. The OLPP program also eliminates “mistaken” tows and “give backs”.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="midLanding2">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1><div class="maximal2"></div>
                <hr>
                </h1>
            </div>
            <div class="span12 logomid2">
                <%= link_to image_tag("oppLogo2.png", alt: "OnlineParkingPass.com"), root_path %>
            </div>
        </div>
    </div>
</div>

<div class="subLanding">
    <div class="container">
        <div class="row">
   
        </div>
    </div>
</div>
	


</head>