
<div class="modal fade" id="fbfriends" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel">Invite your friends!</h4>
    </div>
    <div class="modal-body">
      list_of_facbook_friends
    </div>
  </div>
 </div>
</div>